/* button{
    padding: 100px;
    margin: 10px;
    width: 300px;
} */

/* #1,#2,#3{
    padding: 0;
    margin: 0;
} */
#truns{
font-size: 200%;

}


#game{
    position: relative;
    padding: 0px;  
    margin: 0;
    width: 350px;
    background-image: url("../image/paper_00041.jpg");
}
#line1 #line2 #line3{
    position: relative;
    padding:0;
    margin: 0;
    letter-spacing: 0px;
}


#myButton1,#myButton2,#myButton3,#myButton4,#myButton5,#myButton6,#myButton7,#myButton8,#myButton9{ 
    position: relative;
    padding: 0;
    margin: -1;
    width: 100px;
    height:15vh;
    font-size: 500%;
    border-radius: 0px;
    border: 1px solid #000;
    background-color:rgba(0,255,0,0);
}