/* button{
    padding: 100px;
    margin: 10px;
    width: 300px;
} */
#myButton1,#myButton2,#myButton3,#myButton4,#myButton5,#myButton6,#myButton7,#myButton8,#myButton9{
    padding: 0;
    margin-bottom:1% ;
    width: 10%;
    height:100%;
    font-size: 500%;  
}